
// Standard extensions get all permissions by default

grant codeBase "file:${{java.ext.dirs}}/*" {
        permission java.security.AllPermission;
};

// добавили это
grant codeBase "file:D:\\tempGit\\git\\Innopolis\\Lections\\Lection7_3\\Lection7_3_SecurityManager\\workDirectory"{
		permission java.io.FilePermission "D:\\tempGit\\git\\Innopolis\\Lections\\Lection7_3\\Lection7_3_SecurityManager\\workDirectory\\myFile.txt", "read";
};