<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Appender1" class="org.apache.log4j.ConsoleAppender">
        <layout class="com.semakin.loggers.EmailLayout">
        </layout>
    </appender>
    <appender name="Appender2" class="org.apache.log4j.FileAppender">
        <param name="File" value="applog.txt" />

        <layout class="com.semakin.loggers.EmailLayout">
        </layout>
    </appender>

    <appender name="EmailAppenderGmail" class="com.semakin.loggers.EmailAppender">
        <param name="fromAddress" value=""/>
        <param name="login" value=""/>
        <param name="password" value=""/>
        <param name="smtpHost" value="smtp.gmail.com"/>
        <param name="smtpPort" value="465"/>
        <param name="toAddress" value=""/>
        <param name="messageTheme" value="Log from Logger!"/>

        <layout class="com.semakin.loggers.EmailLayout">
        </layout>
    </appender>
    <root>
        <priority value="TRACE"/>
        <appender-ref ref="Appender1" />
        <appender-ref ref="Appender2" />
        <appender-ref ref="EmailAppenderGmail" />
    </root>
</log4j:configuration>
